<!DOCTYPE html>

<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="text/javascript" href="/script/myScript.js">
    <link href="https://fonts.googleapis.com/css?family=Modak|Monofett|Pacifico&display=swap" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="../public/stylesheets/style1.css">-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

    <div id="navbar">
        <a class="active" href="/">PNGY</a>
        <div class="topnav-right">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
    </div>

            <br />
            <br />
            <br />
            <br />
            <br />
    <div class="grid-item bg-text center">

        <h1>Login</h1>
        <form id="form" action="/login" method="post">
            <label>Username</label>
            <br />
            <input id="user" class="form-control" type="text" placeholder="Username" name="username" required>
            <br />
            <label>Password</label>
            <br />
            <input id="pwd" class="form-control" type="password" placeholder="Password" name="pwd" required>
            <br />
            Don't have an account? <a href="/register">Sign Up</a>
            <br />
            <div class="text-right">
                    <input class="btn btn-warning" type="submit" value="Submit" name="Submit" onclick="myFunction()">
               </div>
                
        </form>

    </div>


</body>

</html>